<h1>{{titleCars}}</h1>
<div class="container">
    <div class="col-md-5">
        <form (ngSubmit)= "submitCar()" #carForm = "ngForm">
            <div class="form-group">
                <label for="name">Mark</label>
                <input type="text"
                        id="name" 
                        class="form-control" 
                        [(ngModel)] = "car.name" 
                        name = "name"
                        required>
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" 
                        id="model" 
                        class="form-control" 
                        [(ngModel)] = "car.model"
                        name="model"
                        required>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" 
                        id="year" 
                        class="form-control" 
                        [(ngModel)] = "car.year"
                        name="year"
                        required>
            </div>
           <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</div>