<h1>{{titleCars}}</h1>
<div class="container">
    <div class="col-md-5">
        <form #cars="ngForm" (ngSubmit)="onSubmit(cars)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="carServise.car.$key">
            <div class="form-group">
                <label for="name">Mark</label>
                <input type="text"
                        id="name" 
                        class="form-control" 
                        [(ngModel)] = "carServise.car.$key" 
                        name = "name"
                        #name = "ngModel"
                        required>
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" 
                        id="model" 
                        class="form-control" 
                        [(ngModel)] = "carServise.car.model"
                        name="model"
                        #model = "ngModel"
                         >
            </div>
            <div class="form-group">
                <label for="engine">Engine</label>
                <input type="text" 
                        id="engine" 
                        class="form-control" 
                        [(ngModel)] = "carServise.car.engine"
                        name="engine"
                        #engine = "ngModel"
                        required>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" 
                        id="year" 
                        class="form-control" 
                        #year = "ngModel"
                        name="year"
                        [(ngModel)] = "carServise.car.year"
                        
                       
                        required>
            </div>
           <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</div>